
div {
  padding: 10px;
}
label{
  width: 200px;
  display: inline-block;
  text-align: left;
  padding: 10px;
}

input {
  width: 200px;
  padding: 10px;
}
select {
  width: 225px;
  padding: 10px;
}

